<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zeon.schoolmanager">

    <application>
        <service
            android:name="id.flutter.flutter_background_service.BackgroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            tools:replace="android:exported" />
    </application>
</manifest>
